<div class="course-wrapper">
    <div class="course-block">
        <h2>{{course.title}}</h2>
        <img src={{course.img}} alt="">
        <span class="course-price big">{{course.price}}</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, sit?</p>
    </div>
</div>